@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

/* Estilos generales */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  height: 100%;
  position: relative;
}

/* Estilos de la barra de navegación */
.header {
  background-color: rgb(38, 108, 170);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  padding: 5px 10%;
  font-size: 20px;
  font-family: 'Russo One', sans-serif;
}

.header .logo {
  cursor: pointer;
}

.header .logo img {
  height: 70px;
  width: auto;
  transition: all 0.3s;
}

.header .logo img:hover {
  transform: scale(1.2);
}

.header .nav-links {
  list-style: none;
  margin-left: auto;
}

.header .nav-links li {
  display: inline-block;
  padding: 0px 25px;
}

header .nav-links li:hover {
  transform: scale(1.5);
}

.header .nav-links a {
  color: white;
  text-decoration: none;
}

.header .botones .btn button {
  font-weight: 700;
  color: rgb(38, 108, 170);
  padding: 9px 25px;
  background-color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.header .botones .btn button:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.header .nav-links a:hover {

  text-decoration: none;
}

/* Estilos del contenido principal */
.content {
  min-height: calc(100vh - 255px); /* Ajusta la altura según tus necesidades */
  padding-bottom: 100px; /* Agrega un espacio inferior para el footer */
}

.container {
  max-width: 500px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin:50px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.form-group textarea {
  height: 150px;
}

.form-group button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Estilos del footer */
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px; /* Ajusta la altura según tus necesidades */
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

.footer img {
  width: 20px;
  margin: 0 5px;
}

.footer a {
  text-decoration: none;
  color: #333;
}

.footer a:hover {
  color: #000;
}

.author {
  font-weight: bold;
}

.subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.subscribe p {
  margin-right: 5px;
}

.subscribe-input {
  display: flex;
  align-items: center;
}

.subscribe-input input[type="email"] {
  margin-right: 5px;
  padding: 5px;
  border: 1px solid #333;
  border-radius: 5px;
}

.subscribe-input button {
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilos del home */
.sugerencias {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sugerencias > div {
  border-radius: 20px;
  color: white;
  background-color: rgb(38, 108, 170);
  margin: 20px;
  text-align: center;
  width: calc(50% - 40px); /* Ajusta el ancho según tus necesidades */
  max-width: 600px; /* Limita el ancho máximo */
  min-width: 300px; /* Establece un ancho mínimo */
  padding: 20px;
  
}

.sugerencias > div h1 {
  margin-top: 0;
  font-family:'Russo One', sans-serif;
  font-size: 50px;
}

.sugerencias > div p {
  margin-bottom: 0;
  font-size: 25px;
}
/* estilo caja de chat*/
.chat-box {
  display: flex;
  flex-direction: column;
  align-items: stretch; /* Ajusta el ancho de los elementos internos al 100% del cuadro de chat */
  justify-content: center;
  height: 50vh; /* Por defecto en PC */
  max-width: 80%; /* Por defecto en móvil */
  margin: 0 auto;
  border: 2px solid #ddd; /* Agrega un borde de color */
  border-radius: 10px; /* Agrega bordes redondeados */
  padding: 20px; /* Aumenta el espacio interno */
}

@media (min-width: 600px) {
  .chat-box {
    height: 50vh;
    max-width: 50%;
  }
}

.messages {
  overflow-y: auto; /* Cambia a auto para mostrar barras de desplazamiento solo cuando sea necesario */
  flex-grow: 1;
}

.message {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.message-content {
  background-color: #F2F2F2;
  padding: 10px;
  border-radius: 10px;
  max-width: 80%;
}

.user-image {
  width: 40px;
  height: 40px;
  margin: 0 10px;
  border-radius: 50%;
  overflow: hidden;
}

.user-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.left {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
}

.input-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #F2F2F2;
}

.input-area input[type="text"] {
  flex-grow: 1;
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.input-area button {
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none
}
.input-area .NEXT{
  padding: 5px 10px;
  background-color: red;
  color: white;
  border: none;
  margin-left: 10px;
}